* {
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}

html, body {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(152,16,16,1) 100%, rgba(0,212,255,1) 100%);
}

.container {
    height: 100%;
    width: 100%;
    position: relative;
    max-width: 100%;
}

#p1 {
    position: absolute;
    top: 1%;
    left: 5%;
    width: 75px;
}

    #p1
    input {
        width: 300px;
        margin: 5px auto;
        background-color: transparent;
    }


#p2 {
    position: absolute;
    top: 1%;
    right: 20%;
    width: 75px;
    text-align: right;
}

    #p2
    input {
        width: 300px;
        margin: 5px auto;
        background-color: transparent;
    }

table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

tr {
    padding: 5px;
}

td {
    background-color: black;
    border: 1px solid white;
    width: 48px;
    height: 48px;
    transition: all 0.3s 0.1s linear;
    margin: 5px;
}

    td:hover {
        background-color: gainsboro;
        transform: scale(1.3);
    }

footer {
    position: absolute;
    bottom: 0;
}

.pic {
    border-radius: 50%;
    background-size: cover;
    width: 75px;
    height: 75px;
    background-image: url("../images/Default_pfp.jpg");
}

.chip {
    border-radius: 50%;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-image: url("../images/Default_pfp.jpg");
}

.pl1 {
    border: 2px blue solid;
}

.pl2 {
    border: 2px red solid;
}

#cid {
    width: 500px;
}
