@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>

<body>
    <div id="pfp1" ></div>
    <div id="pfp2"></div>
    @*div clas="nick" id="nick1" HorizontalAlignment="Left" Margin="102,23,0,0" TextWrapping="Wrap" Text="Player1"
         VerticalAlignment="Top" Height="17" Width="124"></div>
    <div class="border" Visibility="Hidden" id="bord1" Margin="10,10,538,630"></div>
    <div class="border" id="Pfp2Border" CornerRadius="50" Margin="665,10,10,649" BorderThickness="5" Width="75px"
         Height="75px">
    </div>
    <div clas="nick" Visibility="Visible" id="nick2" HorizontalAlignment="Right" Margin="0,23,102,0"
         VerticalAlignment="Top" Height="17" Width="124">
        Player2
    </div>
    <div class="border" id="bord2" Margin="538,10,10,630">
    </div>    
    <div clas="nick" Name="test" HorizontalAlignment="Left" Margin="482,141,0,0" VerticalAlignment="Top" Width="120">
    </div>*@
    <table id="table" Width="500" Height="500">
        @for (int i = 0; i < 10; i++)
        {
            <tr>
                @for (int j = 0; j < 10; j++)
                {
                    <td id="x @j y @i" onclick="addPfP(@j,@i)">

                    </td>
                }
            </tr>
        }
    </table>   
    <script src="~/js/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/site.js"></script>
</body>

</html>
